/***** OVERRIDE *****/
body {
	position: static;
}

#container {
	width: auto;
	position: static;
}

#creator-panel-left,
#creator-panel-workspace {
	position: absolute;
	bottom: 0;
	overflow: auto;
}

#creator-panel-workspace {
	right: 0;
}

#creator-panel-workspace {
	left: 200px;
}

#creator-panel-left,
#creator-panel-workspace {
	top: 85px;
}


/***** START: TOP PANEL *****/
#creator-panel-top {
	position: relative;
	height: 42px;
	width: 100%;
	min-width: 1000px;
	border-width: 0 0 5px;
	border-style: solid;
}

#components-wrapper,
#display-wrapper,
#save-wrapper,
#options-wrapper {
	position: absolute;
	height: 100%;
	color: #fff;
	line-height: 42px;
	font-size: 16px;
	cursor: pointer;
}

#components {
	background: transparent url(/img/creator-components.png) no-repeat left 12px;
	height: 100%;
	display: block;
	text-indent: 30px;
}

#components:hover,
#components-wrapper.open #components {
	border-width: 0 0 3px 0;
	border-style: solid;
	height: 39px;
	background-position: left 12px;
}

#components-wrapper > .dropdown-menu {
	border-width: 0 0 1px 3px;
	border-style: solid;
	margin-left: 0;
	min-width: 200px;
}

#components-wrapper .component {
	margin: 0 -25px;
	padding: 0 10px;
}

#components-wrapper .component,
#components-wrapper .component:hover {
	text-indent: 25px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 18px 18px;
}

/*
#display,
#display-icon {
	position: absolute;
}
*/

#display-wrapper {
	width: 200px;
	left: 50%;
	margin: 0 0 0 -100px;
}

#display-icon {
	width: 26px;
	height: 26px;
	background: transparent url(/img/creator-view.png) no-repeat center bottom;
	margin: 8px 10px 0 0;
}

#display-icon.display-triggered {
	background-position: center top;
}

#display {
	margin: 8px 0 0 -5px;
	width: 150px;
}

#display > .originUI-switch {
	font-size: 13px;
}

/*
#display-icon:hover {
	transform: scale(1.1, 1.1);
}
*/

#display-icon:active,
#layer-icon:active,
#save-icon:active {
	transform: scale(.9, .9);
}

/*
#display-icon:hover {
	transform: scale(1.1, 1.1);
}
*/

.originUI-switchActive .originUI-switchText:before {
	left: 75px;
}

.originUI-switchInactive .originUI-switchText:before {
	right: 75px;
}

#save-wrapper {
	right: 50px;
	opacity: .5;
}

#save-wrapper:hover {
	opacity: 1;
}

#save-icon {
	width: 26px;
	height: 42px;
	background: transparent url(/img/creator-save.png) no-repeat center center;
}

/*
#save {
	font-size: 10px;
	line-height: 10px;
	vertical-align: middle;
	text-align: right;
	width: 50px;
	height: 100%;
}
*/


#options-wrapper {
	right: 0;
}

#options {
	padding: 0 5px;
	background: transparent url(/img/creator-options.png) no-repeat center center;
	width: 26px;
	height: 100%;
	display: block;
	text-indent: -5000em;
}

#options:hover,
#options-wrapper.open #options {
	border-width: 0 0 3px 0;
	border-style: solid;
	height: 39px;
	background-position: center 8px;
}

#options-wrapper .dropdown-menu {
	left: auto;
	right: 0;
	border-style: solid;
	border-width: 0 3px 1px 0;
}

#options-wrapper .option {
	background-repeat: no-repeat;
	background-position: 10px center;
	text-indent: 10px;
}

#option-settings {
	background-image: url(/img/dropdown-setting.png);
}

#option-demo {
	background-image: url(/img/dropdown-demo.png);
}

#option-embed {
	background-image: url(/img/dropdown-embed.png);
}

#option-exit {
	background-image: url(/img/dropdown-exit.png);
}



#schedules {
	position: absolute;
	width: 200px;
	top: 10px;
	left: 50%;
	margin: 0 0 0 -100px;
	/* background: transparent url(/img/icon-calendar.png) no-repeat left center; */
}

#schedules:after {
	background: transparent url(/img/icon-calendar.png) no-repeat left center; 
	content: "";
	width: 42px;
	height: 42px;
	position: absolute;
	right: -45px;
	top: -10px;
}

#schedules .dropdown-menu {
	left: -50px;
	top: 32px;
	width: 250px;
	border-left: 3px solid #0099cc;
	border-bottom: 1px solid #0099cc;
}


/*
#creator-panel-top {
	height: 42px;
	width: 100%;
	border-bottom: 2px solid #0099CC;
}

.creatorPanelTop-icons {
	position: relative;
	margin: 0 10px;
}


.creatorPanelTop-icons .originUI-icon {
	width: 42px;
	height: 42px;
}

.creatorPanelTop-icons .originUI-icon:hover,
.creatorPanelTop-icons.open .originUI-icon {
	border-bottom: 5px solid #0099cc;
	height: 37px;
	background-position: center 0px;
}

#components .originUI-icon {
	background-image: url(/img/icon-components.png);
}

#schedules .originUI-icon {
	background-image: url(/img/icon-calendar.png);
}

.creatorPanelTop-icons .dropdown-menu {
	left: -25px;
	top: 42px;
	border-left: 3px solid #0099cc;
	border-bottom: 1px solid #0099cc;
}

#schedules .dropdown-menu > .active > a {
	border-left: 5px solid #0099cc;
	cursor: default;
}
*/

/***** END: TOP PANEL *****/

/***** START: LEFT PANEL *****/
#creator-panel-left {
	top: 82px;
	width: 195px;
	border-width: 0 5px 0 0;
	border-style: solid;
	overflow-x: hidden;
}

#layer-wrapper {
	margin: 10px auto;
	width: 165px;
	cursor: pointer;
}

#layer-icon {
	width: 26px;
	height: 26px;
	background: transparent url(/img/creator-layers.png) no-repeat center top;
	margin: 0 10px 0 0;
}

/*
#layer-icon:hover {
	transform: scale(1.1, 1.1);
}

#layer-icon:active {
	transform: scale(.9, .9);
}
*/

#layer-icon.layer-library {
	background-position: center bottom;
}

#layer-switch {
	width: 125px
}

#layer-switch > .originUI-switch {
	font-size: 15px;
}

#layer-switch .originUI-switchActive .originUI-switchText:before {
	left: 62px;
}

#layer-switch .originUI-switchInactive .originUI-switchText:before {
	right: 62px;
}

.content-list {
}

.content-list > .content-item + .content-item {
	border-top: 1px solid #303030;
}

.content-item {
	margin: 0 10px;
	position: relative;
	height: 32px;
}

.content-edit,
.content-handle {
	background: transparent url(/img/creator-sortHandle.png) no-repeat center center;
	text-indent: -5000em;
	width: 26px;
	height: 100%;
	opacity: .1;
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.content-edit:hover,
.content-handle:hover {
	opacity: .7;
}

.content-edit {
	background-image: url(/img/icon-edit.png);
	position: absolute;
	right: 0;
	cursor: pointer;
}

.content-label {
	line-height: 32px;
}

#library {
	
}

#library-instructions {
	font-size: 13px;
	margin: 5px auto;
	width: 90%;
}

#library-upload {
	width: 140px;
	display: block;
	margin: 0 auto;
}

#library .content-handle {
	background: transparent url(/img/icon-library-small.png) no-repeat center center;
}


/*

#display > .originUI-switch {
	font-size: 13px;
}


*/






/***** END: LEFT PANEL *****/



/***** START: WORKSPACE *****/
.workspace {
	display: block;
	position: relative;
	
	background-color: rgba(255, 255, 255, .2);
}

.workspace-content {
	display: block;
	position: absolute !important;
	outline: 1px solid #fff;
	background-color: #fff;
}

.workspace-content > *:not(.ui-resizable-handle) {
	width: inherit;
	height: inherit;
	position: absolute;
	
	/* Disable clicks */
	pointer-events: none;
	cursor: default;
}

/***** END: WORKSPACE *****/


/***** START: CREATOR MODAL *****/
#creatorModal-header {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 10px center;
}

#creatorModal-content {
	margin: 15px 0 0;
}

.CodeMirror {
	height: 135px;
	border: 1px solid #444444;
}


#creatorModal-config {
	border-top: 1px solid #444444;
	margin: 15px;
/*
	width: 570px;
	margin: 5px auto;
*/
}

#creatorModal-config .originUI-list,
#creatorModal-config .originUI-input {
	text-align: center;
	text-indent: 0;
}

#creatorModal-config .originUI-list > li {
	display: inline-block;
	width: 100px;
	margin: 0 5px
}

#creatorModal-config .originUI-field {
	width: 60%;
	margin: 0 auto;
}

/*
#scheduleAdd-header {
	background: transparent url(/img/modal-schedule.png) no-repeat 10px center;
}

#schedule-add .originUiModalFooter-right {
	background-image: none;
}
*/



/***** END: CREATOR MODAL *****/

/***** START: EDITOR *****/
#editorEmbed-options {
	margin: 10px 0 0 0;
	text-align: right;
}

#editorEmbed-iframe {
	width: 75px;
	margin-left: 5px;
}

#editorLink-type,
#editorToggle-type {
	width: 150px;
	margin: 0 5px;
}
/***** END: EDITOR *****/

/***** START: EMBED MODAL *****/
#embedModal-header {
	background: transparent url(/img/header-embed.png) no-repeat 10px center;
}

#embedModal-content {
	margin: 10px auto 0;
	width: 100%;
	height: 135px;
	border: 1px solid #444444;
}

#embedModal-config {
	border-top: 1px solid #444444;
	margin: 15px;
}

#embedModal-config .originUI-list,
#embedModal-config .originUI-input {
	text-align: center;
	text-indent: 0;
}

#embedModal-config .originUI-list > li {
	display: inline-block;
	width: 135px;
	margin: 0 5px
}

#embedModal-config .originUI-field {
	width: 60%;
	margin: 0 auto;
}
/***** END: EMBED MODAL *****/

/***** START: SETTINGS MODAL *****/
#settingsModal-header {
	background: transparent url(/img/header-settings.png) no-repeat 10px center;
}

/***** END: SETTINGS MODAL *****/