/***** OVERRIDE *****/
body {
	position: static;
}

#container {
	width: auto;
	position: static;
}

#creator-panel-left,
#creator-panel-workspace {
	position: absolute;
	bottom: 0;
	overflow: auto;
}

#creator-panel-workspace {
	right: 0;
}

#creator-panel-workspace {
	left: 200px;
}



#creator-panel-left,
#creator-panel-workspace {
	top: 85px;
}


/***** START: TOP PANEL *****/
#creator-panel-top {
	position: relative;
	height: 42px;
	width: 100%;
	min-width: 1000px;
	border-width: 0 0 5px;
	border-style: solid;
}

#components-wrapper,
#display-wrapper {
	position: absolute;
	height: 100%;
	color: #fff;
}

#components {
	background: transparent url(/img/creator-components.png) no-repeat left 12px;
	height: 100%;
	display: block;
	font-size: 18px;
	line-height: 42px;
	text-transform: uppercase;
	text-indent: 30px;
}

#components:hover,
#components-wrapper.open #components {
	border-width: 0 0 3px 0;
	border-style: solid;
	height: 39px;
	background-position: left 12px;
}

#components-wrapper > .dropdown-menu {
	border-width: 0 0 1px 3px;
	border-style: solid;
	margin-left: 0;
	
	width: 250px;
}

#components-wrapper .component {
}

/*
#display,
#display-icon {
	position: absolute;
}
*/

#display-wrapper {
	width: 200px;
	left: 50%;
	margin: 0 0 0 -100px;
	cursor: pointer;
}

#display-icon {
	width: 26px;
	height: 26px;
	background: transparent url(/img/creator-view.png) no-repeat center bottom;
	margin: 8px 10px 0 0;
}

#display-icon.display-triggered {
	background-position: center top;
}

#display {
	margin: 8px 0 0 -5px;
	width: 150px;
}

#display > .originUI-switch {
	font-size: 13px;
}

#display-icon:hover {
	transform: scale(1.1, 1.1);
}

#display-icon:active {
	transform: scale(.9, .9);
}

/*
#display-icon:hover {
	transform: scale(1.1, 1.1);
}
*/

.originUI-switchActive .originUI-switchText:before {
	left: 75px;
}

.originUI-switchInactive .originUI-switchText:before {
	right: 75px;
}







#schedules {
	position: absolute;
	width: 200px;
	top: 10px;
	left: 50%;
	margin: 0 0 0 -100px;
	/* background: transparent url(/img/icon-calendar.png) no-repeat left center; */
}

#schedules:after {
	background: transparent url(/img/icon-calendar.png) no-repeat left center; 
	content: "";
	width: 42px;
	height: 42px;
	position: absolute;
	right: -45px;
	top: -10px;
}

#schedules .dropdown-menu {
	left: -50px;
	top: 32px;
	width: 250px;
	border-left: 3px solid #0099cc;
	border-bottom: 1px solid #0099cc;
}


/*
#creator-panel-top {
	height: 42px;
	width: 100%;
	border-bottom: 2px solid #0099CC;
}

.creatorPanelTop-icons {
	position: relative;
	margin: 0 10px;
}


.creatorPanelTop-icons .originUI-icon {
	width: 42px;
	height: 42px;
}

.creatorPanelTop-icons .originUI-icon:hover,
.creatorPanelTop-icons.open .originUI-icon {
	border-bottom: 5px solid #0099cc;
	height: 37px;
	background-position: center 0px;
}

#components .originUI-icon {
	background-image: url(/img/icon-components.png);
}

#schedules .originUI-icon {
	background-image: url(/img/icon-calendar.png);
}

.creatorPanelTop-icons .dropdown-menu {
	left: -25px;
	top: 42px;
	border-left: 3px solid #0099cc;
	border-bottom: 1px solid #0099cc;
}

#schedules .dropdown-menu > .active > a {
	border-left: 5px solid #0099cc;
	cursor: default;
}
*/

/***** END: TOP PANEL *****/

/***** START: LEFT PANEL *****/
#creator-panel-left {
	top: 82px;
	width: 195px;
	border-width: 0 5px 0 0;
	border-style: solid;
	overflow-x: hidden;
}

#layer-wrapper {
	margin: 10px auto;
	width: 160px;
	cursor: pointer;
}

#layer-icon {
	width: 26px;
	height: 26px;
	background: transparent url(/img/creator-layers.png) no-repeat center top;
	margin: 0 5px 0 0;
}

/*
#layer-icon:hover {
	transform: scale(1.1, 1.1);
}

#layer-icon:active {
	transform: scale(.9, .9);
}
*/

#layer-icon.layer-library {
	background-position: center bottom;
}

#layer-switch {
	width: 125px
}

#layer-switch > .originUI-switch {
	font-size: 15px;
}

#layer-switch .originUI-switchActive .originUI-switchText:before {
	left: 62px;
}

#layer-switch .originUI-switchInactive .originUI-switchText:before {
	right: 62px;
}

/*

#display > .originUI-switch {
	font-size: 13px;
}


*/






/***** END: LEFT PANEL *****/



/***** START: WORKSPACE *****/
.workspace {
	display: block;
	
	background-color: red;
}
/***** END: WORKSPACE *****/


/***** START: CREATOR MODAL *****/
#creatorModal-header {
	text-indent: 15px;
}
/*
#scheduleAdd-header {
	background: transparent url(/img/modal-schedule.png) no-repeat 10px center;
}

#schedule-add .originUiModalFooter-right {
	background-image: none;
}
*/
/***** END: CREATOR MODAL *****/