body {
	font-family: 'Segoe UI', Arial, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	color: #BDBDBD;
}

a {
	color: #BDBDBD;
}

a:hover {
	color: #BDBDBD;
}

.wrapper {
	height: inherit;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.content {
	background-color: #fff;
	margin-bottom: 10px;
}

#footer {
	clear: both;
	font-size: 12px;
	text-align: center;
	margin: 10px 0;
}

/***** START: BOOTSTRAP *****/

/***** END: BOOTSTRAP *****/


/***** START: UI *****/
input[type="text"],
input[type="password"] {
	background-color: #19191a;
	border: 1px solid #5f5f61;
	height: 24px;	
	color: #bdbdbd;
	text-indent: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border: 1px solid #fff;
}

input::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}
input:-ms-input-placeholder {
	color: transparent;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.originUI-bgColor {
	background-color: #212123;
}

.originUI-bgTexture {
	background-color: #0a3960;
	background-image: url(/img/bg-texture.png);
	background-repeat: repeat;
	
}

.originUI-icon {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	vertical-align: top;
	text-indent: -5000em;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.originUI-icon:hover {
	transform: scale(1.02, 1.02);
}

.originUiIcon-forward {
	background-image: url(/img/icon-forward.png);
}

.originUiIcon-login,
.originUiIcon-settings {
	background-image: url(/img/icon-settings.png);
	height: 100%;
	padding: 0 5px;
}

.originUiIcon-login:hover,
.originUiIcon-settings:hover,
.open .originUiIcon-settings {
	background-color: #212123;
	/* background-color: rgba(255, 255, 255, .15);	*/
}

.originUiIcon-login {
	background-image: url(/img/icon-login.png);
}

/***** END: UI *****/

/***** START: ORIGIN BAR *****/
#origin-bar {
	width: 100%;
	height: 32px;
	background-color: #000;
}

#originBar-logo {
	background: transparent url(/img/logo-small.png) no-repeat center center;
	width: 110px;
	height: inherit;
	text-indent: -5000em;
	display: block;
}

#originBar-logo:hover {
	background-color: rgba(255, 255, 255, .15);
}

#originBar-login,
#originBar-settings {
	height: inherit;
	position: absolute;
	right: 0;
	top: 0;
}

#originBar-settings .dropdown-menu {
	right: 0;
	left: auto;
}

#originBar-settings .dropdown-menu a:hover {
}

#originBar-settings .dropdown-menu a:hover {
	color: #000;
	background-image: none;
	background-color: #bdbdbd;
}

/***** END: ORIGIN BAR *****/

/***** START: USER MANAGEMENT *****/
.origin-usermgmt-login {
	width: 300px;
	height: 160px;
	background-color: #212123;
	position: relative;
}

.origin-usermgmt-login ul {
	width: 270px;
	margin: 0px auto;
}

.origin-usermgmt-login li {
	margin: 10px 0;
}

.origin-usermgmt-login input[type="text"],
.origin-usermgmt-login input[type="password"] {
	width: 100%;
}

li#login-password {
	margin-bottom: 0px;
}

li#login-settings {
	margin-top: 5px;
	font-size: 12px;
}

.login-remember-input label {
	margin: 0 0 0 5px;
}

.login-remember-input input,
.login-remember-input label {
	display: inline-block;
	vertical-align: top;
}

#forgot-password-submit,
#login-submit {
	background-position: right center;
	position: absolute;
	text-indent: 0;
	width: 95px;
	height: 26px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 26px;
	right: 13px;
	bottom: 10px;
}

#forgot-password-submit input,
#login-submit input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

#forgot-password-submit {
	width: 135px;
}


.origin-usermgmt {
	padding: 5px 10px;
	text-align: left;
}

#user-add {
	width: 100%;
	height: 42px;
	display: block;
	margin: 20px 0;
}
/***** END: USER MANAGEMENT *****/

/***** START: AD LIST *****/
#list {

}

#list-create {
	width: 200px;
	height: 200px;
	background-color: white;
}

.list-ad {
	float: left;
	margin: 0 5px 5px 0;
	
	background-color: white;
}

.list-ad img {
	width: 300px;
}

.list-ad.horizon {
	width: 100px;
	height: 50px;
}

.list-ad.nova {
	width: 50px;
	height: 50px;
}
/***** END: AD LIST *****/