body {
	
}
/***** START: UI *****/
.originUI-bgTexture {
	background-image: url(/img/bg-texture.png);
	background-repeat: repeat;
	
}
/***** END: UI *****/

/***** START: ORIGIN BAR *****/
#origin-bar {
	width: 100%;
	height: 32px;
	background-color: #000;
}

#originBar-logo {
	background: transparent url(/img/logo-small.png) no-repeat center center;
	width: 110px;
	height: inherit;
	text-indent: -5000em;
	display: block;
}

#originBar-logo:hover {
	background-color: rgba(255, 255, 255, .15);
}

#originBar-settings {
	width: 100px;
	height: inherit;
	position: absolute;
	right: 0;
}
/***** END: ORIGIN BAR *****/

/***** START: USER MANAGEMENT *****/
.route-login .umtop {
	width: 500px;
	margin: 0 auto;
}
/***** END: USER MANAGEMENT *****/

.wrapper {
	height: inherit;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}


#footer {
	font-size: 12px;
	text-align: center;
}