body {
	font-family: 'Segoe UI', Arial, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}

.wrapper {
	height: inherit;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.content {
	background-color: #fff;
	margin-bottom: 10px;
}

#footer {
	clear: both;
	font-size: 12px;
	text-align: center;
}

/***** START: BOOTSTRAP *****/

/***** END: BOOTSTRAP *****/


/***** START: UI *****/
.originUI-bgTexture {
	background-color: #0a3960;
	background-image: url(/img/bg-texture.png);
	background-repeat: repeat;
	
}

.originUI-text {
	color: #BDBDBD;
}

.originUI-icon {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	vertical-align: top;
	text-indent: -5000em;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.originUiIcon-settings {
	background-image: url(/img/icon-settings.png);
	height: 100%;
	padding: 0 5px;
}

.originUiIcon-settings:hover {
	background-color: rgba(255, 255, 255, .15);	
}

/***** END: UI *****/

/***** START: ORIGIN BAR *****/
#origin-bar {
	width: 100%;
	height: 32px;
	background-color: #000;
}

#originBar-logo {
	background: transparent url(/img/logo-small.png) no-repeat center center;
	width: 110px;
	height: inherit;
	text-indent: -5000em;
	display: block;
}

#originBar-logo:hover {
	background-color: rgba(255, 255, 255, .15);
}

#originBar-settings {
	height: inherit;
	position: absolute;
	right: 0;
	top: 0;
}

#originBar-settings .dropdown-menu {
	right: 0;
	left: auto;
}
/***** END: ORIGIN BAR *****/

/***** START: USER MANAGEMENT *****/
.route-login .umtop {
	width: 500px;
	margin: 0 auto;
}
/***** END: USER MANAGEMENT *****/

